*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    color: #999;
    line-height: 1.5;
    overflow-x: hidden;
}
.non_avatar img{
    width: 34px;
    height: 100%;
    
}
.main-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5.70054% 8.52995% 6.1706%;
}
/* .main-title h1{
    font-size: 4.5rem;
}
.main-title h2{
    font-size: 2.5rem;
} */
.authors-container p{
    font-size: 1.2rem;
}
.description-container p{
    font-size: 1.5rem;
    text-align: center;
}
.authors-container{
    margin-top: 2%;
}
.description-container a{
    color: #e77454;
    text-decoration: none;
}
.authors-container:before{
    border-top: 2px solid #e77454;
    content: "";
    display: block;
    margin: 1rem auto;
    width: 6rem;
}
.avatar{
    position: relative;
}
.avatar img{
    border-radius: 20px;
    width: 34px;
    height: 100%;
}
.avatar-image:hover{
    transform: scale(2.5);
    border: 2px solid #d46f20;

    transition: 1s;
    cursor: pointer;
    display:inline-block;
    z-index: 5;
    
}

.avatars-main-container{
    width: 90%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.avatar,.non_avatar{
    width: 35px;
    height: 34px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.non_avatar div{
    background: #404040;
    height: 50%;
    width: 50%;
    border-radius: 20px;
}
.entry-inner{
    color: #666;
    font-family: Graphik,Arial,Verdana,sans-serif;
    font-size: .625rem;
    text-align: center;
    display: none;
    position: absolute;
    top: 60%;
    left: calc(50% - 8.5em);
    right: auto;
    width: 15em;
    height: auto;
    padding: 50% 1em 1em 1em;
    border-radius: 0.25em;
    background-color: white;
    transition: 1s;
    box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.25);
    z-index: 4;

}
.text-section,.text-section1,.text-section2{
    width: 80%;
    margin: 0 auto;
    color: white;
}
.text-section p,.text-section1 p,.text-section2 p{
    font-size: 2rem;
    padding: 1% 0;
}



.vertical-align-header{
    background-color: #333;
    position: fixed;
    top: 0;
    height: 70px;
    /* overflow: hidden; */
    width: 100%;
}
.avatars-vertical-container{
    height: 100%;
    margin: 0;
    position: absolute;
    height: 100%;
    flex-wrap: nowrap;
    /* background: red; */
    width: 100%;
    /* z-index: 10000; */
    top: 0;
    left: 0;
    transition: all 500ms;
    display: flex;
    justify-content: center;
}
.vertical-align-avatars{
    width: 34px;
}
.text-section,.text-section1,.text-section2{
    margin-top: 10%;
}
.active{
    border:1px solid red;
    border: 2px solid #d46f20;
}
.profile-circle{
    left: 0px;
}